.backgroundDiv{
  
  background-color :skyblue
}
.backgroundbody{
  
  background-color :cadetblue
}
.ColorDiv{
  color: sandybrown
  
}

.FontDiv{
  font-family: Verdana;
  font-size: 15px;
  font-style: italic;
 
}
div {
  margin-top: 30px;
}
p{

}